/******************** START VARS ********************/
:root {
    --htopbar: 54px; /** HEIGHT TOPBAR **/
    --margin-s: 11px; /** MARGIN SMALL **/
    --margin-m: 15px; /** MARGIN MEDIUM **/
    --margin-from-topbar: 34px; /** MARGIN FROM THE TOPBAR TO THE CONTENT **/
    --padding-top-sidebar: 24px; /** SIDEBAR'S PADDING TOP **/
}
/******************** END VARS ********************/

/******************** START GENERAL ********************/
@font-face {
    font-family: RobotoThin;
    src: url(../font/Roboto-Light.ttf);
  }

  @font-face {
    font-family: Roboto;
    src: url(../font/Roboto.ttf);
  }

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.border-round {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

/******************** END GENERAL ********************/

/******************** START BUTTONS *****************/

.button-next {
    width: 26px;
    height: 26px;
    position: absolute;
    z-index: 1;
    right: 8px;
    filter: drop-shadow(-1px 4px 3px rgba(0, 0, 0, 0.3));

}

/******************** END BUTTON ********************/

/******************** START CONTAINERS ********************/
.row {
    display: flex;
    flex-direction: row;
} 

.flex-items-center {
    align-items: center;
}

.flex-content-center {
    justify-content: center;
}

.bar-top {
    height: var(--htopbar);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

.bar-top-content{
    width: calc(614px + 28px + 293px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-side {
    height: 100%;
    width: 293px;
}

.holder-sidebar {
    width: 293px;
    height: calc(100vh - var(--htopbar) - var(--padding-top-sidebar));
    margin-top: calc(var(--margin-from-topbar) + var(--padding-top-sidebar));
    margin-left: 28px;
    position: sticky;
    top: 60px;
}

.content {
    width: 100%;
    margin-top: var(--htopbar);
    display: flex;
    justify-content: center;
}

.container-main {
    height: 100%;
    width: 614px;
    
}

.box-stories {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: var(--margin-from-topbar);
    height: 118px;
    background-color:#FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-left: 18px;
    overflow-x: hidden;
    margin-bottom: 24px;
}

.container-posts {
    margin-top: 24px;
}
.container-suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.box-storie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-storie-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-storie {
    width: 66px;
    height: 66px;
}


.img-storie {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0;
    top:0;
    margin: auto; 
}

.box-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.box-post > div {
    width: 100%;
}

.box-post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-post-buttons {
    display: flex;
    justify-content: space-between;
}

.box-post-status {
    display: flex;
    align-items: center;
}

/******************** END CONTAINERS ********************/

/******************** START INPUT ********************/
.input-search {
    width: 215px;
    height: 28px;
    text-align: center;
    background: #FAFAFA;
    font-size: 12px;
}
/******************** END INPUT ********************/


/******************** START DIVISORS ********************/
.divisor-topbar {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    margin: 0 8px 0 8px;
}


/******************** END DIVISORS ********************/

/******************** START IMAGES ********************/
.img-post {
    width: 612px;
    height: 612px;
}

.img-small {
    width: 32px;
    height: 32px;
}

.img-profile-mini {
    width: 24px;
    height: 24px;
}

.logo-txt {
    margin-top: 7px;
}

.img-medium {
    width: 56px;
    height: 56px;
}


/******************** END IMAGES ********************/

/******************** START TEXTS ********************/
.footer * {
    color: #C7C7C7;
    font-size: 11px;
    font-weight: 400;
    margin-top: 31px;
}


en {
    font-weight: 600;
}

strong  {
    font-weight: 600;
}

.txt-username-strong {
    color: black;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}

.txt-username-storie {
    color: #262626;
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 66px;
    white-space: nowrap;
}

.txt-gray {
    color: #8E8E8E;
}

.txt-black {
    color: #262626;
}

.txt-blue {
    color: #139EF2;
}

.fss {
    font-size: 12px;
}

.fsm {
    font-size: 14px;
}

.bold {
    font-weight: 600;
}

.skinny {
    font-weight: 300;
    font-family: RobotoThin;
}

/******************** END TEXTS ********************/





